<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Reset Your Password.</title>
	</head>
	<body class="flex flex-col gap-3">
		<h2 class="text-3xl font-bold">
			Hello
			<span class="font-normal">{{email_to}}</span>!
		</h2>
		<p>
			Follow this link to reset your password!<br />
			Please verify your account by clicking the button below:
		</p>
		<a
			class="bg-black px-6 py-2 w-fit rounded-lg text-2xl text-white font-bold hover:bg-zinc-800"
			href="{{href}}"
		>
			Reset Password
		</a>
	</body>
</html>
